.universityAdmin-container {
    background-image: url('../../public/images/River.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}